songs
{
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
}

heading
{
  font-size: 40px;
  text-align: center;
  color: #101010;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

song
{
  float: right;
  padding: 30;
  display: block;
  color: #000000;
  width: 100%;
  top: 100px;
}

title{
  top: 50px;
  left: 50px;
  float: inline-start;
  color:#4f0559;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

song, title, artist, genre, year{
  display: block;
}